app = "events-bot-new-wngqia"

[build]

  dockerfile = "Dockerfile"


[env]
  PORT = "8080"
  PYTHONOPTIMIZE = "2"
  ENABLE_NIGHTLY_PAGE_SYNC = "1"
  ENABLE_SOURCE_PARSING = "1"
  SOURCE_PARSING_TIME_LOCAL = "02:15"
  SOURCE_PARSING_TZ = "Europe/Kaliningrad"
  ENABLE_SOURCE_PARSING_DAY = "1"
  SOURCE_PARSING_DAY_TIME_LOCAL = "14:15"
  SOURCE_PARSING_DAY_TZ = "Europe/Kaliningrad"
  ENABLE_3DI_SCHEDULED = "1"
  THREEDI_TIMES_LOCAL = "03:15,15:15"
  THREEDI_TZ = "Europe/Kaliningrad"
  GROUNDED_ANSWER_MODEL_ID = "gemini-2.5-flash-lite"


[[mounts]]
  source = "data"
  destination = "/data"


[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = "80"

  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"

  [[services.checks]]
    interval = "15s"
    timeout  = "2s"
    method   = "get"
    path     = "/healthz"
